@model QuanLiSinhVien.Models.Giangvien

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Giangvien</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaGv" class="control-label"></label>
                <input asp-for="MaGv" class="form-control" value="@ViewBag.NextMaGv" readonly />
                <span asp-validation-for="MaGv" class="text-danger"></span>
            </div>
         
            <div class="form-group">
                <label asp-for="TenGv" class="control-label"></label>
                <input asp-for="TenGv" class="form-control" />
                <span asp-validation-for="TenGv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ngaysinh" class="control-label"></label>
                <input asp-for="Ngaysinh" class="form-control" />
                <span asp-validation-for="Ngaysinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cccd" class="control-label"></label>
                <input asp-for="Cccd" class="form-control" />
                <span asp-validation-for="Cccd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sdt" class="control-label"></label>
                <input asp-for="Sdt" class="form-control" />
                <span asp-validation-for="Sdt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hocvi" class="control-label"></label>
                <input asp-for="Hocvi" class="form-control" />
                <span asp-validation-for="Hocvi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaKhoa" class="control-label"></label>
                @Html.DropDownListFor(model => model.MaKhoa, (SelectList)ViewBag.MaKhoa, "Chọn khoa", new { @class = "form-control" })
                <span asp-validation-for="MaKhoa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
