@model QuanLiSinhVien.Models.Giangvien

@{
    ViewData["Title"] = "Login";
}

<div id="login_page">
    <div id="login_session">
        <form asp-action="login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaGv" class="control-label"> Tài khoản:</label>
                <input asp-for="MaGv" class="form-control" />
                <span asp-validation-for="MaGv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sdt" class="control-label"> Mật khẩu:</label>
                <input asp-for="Sdt" class="form-control" />
                <span asp-validation-for="Sdt" class="text-danger"></span>
            </div>
            <button>Đăng nhập</button>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
