@model IEnumerable<QuanLiSinhVien.Models.Khoa>

@{
    ViewData["Title"] = "Index";
    string userRole = ViewContext.HttpContext.Session.GetString("Role");
    bool isAdmin = userRole == "Admin";
}

<p class="session_title">DANH SÁCH KHOA</p>
<div class="session_search">
    <form asp-action="Index" method="get">
        <select name="selectedMaKhoa">
            <option value="">Chọn mã khoa:</option>
            @foreach (var makhoa in (SelectList)ViewBag.ListMaKhoa)
            {
                <option value="@makhoa.Text">@makhoa.Text</option>
            }
        </select>
        <input type="search" name="searchTerm" value="@ViewContext.HttpContext.Request.Query["searchTerm"]" placeholder="Tìm kiếm theo tên khoa..." />
        <button type="submit">Tìm kiếm</button>
    </form>
</div>
@if (isAdmin)
{
    <div class="session_header">
        <button><a asp-action="Create">Thêm</a></button>
        <button><a asp-action="Edit">Sửa</a></button>
        <button><a asp-action="Delete">Xóa</a></button>
    </div>
}
<div class="list_card">
    @foreach (var item in Model)
    {
        <div class="card">
            <img src="~/img/khoa.jpg">
            <p class="card_title">@Html.DisplayFor(modelItem => item.TenKhoa)</p>
        </div>
    }
</div>